<div id="xen-scroll" class="thumbnail-viewer">
  <div class="thumbnail-container">
    <a target="_blank" href="javascript:;">
      <img src="../../../../assets/images/1040EZ-1.png" alt="thumbnail">
    </a>
    <span>Page 1</span>
  </div>
  <div class="thumbnail-container">
    <a target="_blank" href="javascript:;">
      <img src="../../../../assets/images/1040EZ-2.png" alt="thumbnail">
    </a>
    <span>Page 2</span>
  </div>
  <div class="thumbnail-container">
    <a target="_blank" href="javascript:;">
      <img src="http://place-hold.it/175x225" alt="thumbnail">
    </a>
    <span>Page 3</span>
  </div>
  <div class="thumbnail-container">
    <a target="_blank" href="javascript:;">
      <img src="http://place-hold.it/175x225" alt="thumbnail">
    </a>
    <span>Page 4</span>
  </div>
  <div class="thumbnail-container">
    <a target="_blank" href="javascript:;">
      <img src="http://place-hold.it/175x225" alt="thumbnail">
    </a>
    <span>Page 5</span>
  </div>
</div>